.container {
  margin: 0 auto;
  padding-left: 5%;
  width: 50%;
  font-size: 30px;
  text-align: left;
}

h2 {
  font-weight: normal;
}

.main-btn {
  font-size: 40px;
  margin: 10px 10px;
}

.btn-in-line {
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
}

.logout {
  display: block;
  margin: 0 80px;
}

.color_div {
  display: block;
}
